<div class="clearfix icon-bar py-0">
    <ul>
        <li>
            <a href="mailto:Abhishek.Reddy.DV@gmail.com">
                <img height="24px" width="24px" src="/assets/img/gmail.png" style="border-radius: 30%;" />
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/abhishek-reddy96">
                <img height="24px" width="24px" src="/assets/img/linkedin.png" />
            </a>
        </li>
        <li>
            <a href="https://github.com/abhireddy96">
                <img height="24px" width="24px" src="/assets/img/github.png" />
            </a>
        </li>
        <li>
            <a href="https://api.whatsapp.com/send?phone=918050161996">
                <img height="24px" width="24px" src="/assets/img/whatsapp.png" />
            </a>
        </li>
    </ul>
</div>